/* Base styles. */
.button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: theme('borderWidth.DEFAULT');
}

.button:focus {
  outline: none;
  --tw-ring-offset-width: theme('ringOffsetWidth.2');
  --tw-ring-width: theme('ringWidth.2');
}

/* Variant styles. */
/* Primary. */
.button[data-variant='primary'] {
  color: theme('colors.white');
  fill: theme('colors.white');
  background: theme('colors.blue.600');
  border-color: theme('colors.blue.600');
}

.button[data-variant='primary']:hover {
  background: theme('colors.blue.700');
  border-color: theme('colors.blue.700');
}

.button[data-variant='primary']:focus {
  --tw-ring-color: theme('ringColor.blue.500');
  --tw-ring-offset-width: theme('ringOffsetWidth.2');
  --tw-ring-width: theme('ringWidth.2');
}

/* Secondary. */
.button[data-variant='secondary'] {
  color: theme('colors.blue.500');
  fill: theme('colors.blue.500');
  background: none;
  border-color: theme('colors.blue.500');
}

.button[data-variant='secondary']:hover {
  background: theme('colors.blue.50');
}

.button[data-variant='secondary']:focus {
  --tw-ring-color: theme('ringColor.blue.500');
}

/* Ghost. */
.button[data-variant='ghost'] {
  color: theme('colors.blue.500');
  fill: theme('colors.blue.500');
  box-shadow: none;
  background: none;
  border-color: none;
}

.button[data-variant='ghost']:hover {
  background: theme('colors.blue.50');
}

.button[data-variant='ghost']:focus {
  --tw-ring-color: theme('ringColor.blue.500');
}

/* Button sizes. */
.button[data-size='sm'] {
  padding: theme('spacing.1') theme('spacing.2');
}

/* Disabled state. */
.button[disabled=''],
.button[disabled='']:hover {
  background: theme('colors.slate.400');
  border-color: theme('colors.slate.400');
  color: theme('colors.slate.200');
  fill: theme('colors.slate.200');
}
