.editor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
  width: 100%;
}

.editor-segment {
  flex: 1 1 auto;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
