.editor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
  width: 100%;
  margin-top: theme('spacing.4');
}

.editor-segment {
  flex: 1 1 auto;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
}
