.markdown-editor {
  height: 400px;
  overflow: auto;
  resize: none;
  margin-top: theme('spacing.4');
}

.markdown-result {
  margin-top: theme('spacing.4');
}

.markdown-result th,
.markdown-result td {
  border-width: theme('borderWidth.DEFAULT');
  border-color: theme('borderColor.slate.200');
  padding: theme('spacing.1') theme('spacing.4');
  font-size: theme('fontSize.sm');
}
