.markdown-result {
  font-size: theme('fontSize.sm');
}

@media screen(sm) {
  .markdown-result {
    margin-top: theme('spacing.14');
  }
}

.markdown-result table {
  width: 100%;
}

.markdown-result th {
  text-align: left;
}

.markdown-result th,
.markdown-result td {
  border-top-width: theme('borderWidth.2');
  border-bottom-width: theme('borderWidth.2');
  border-color: theme('borderColor.slate.200');
  padding: theme('spacing.1') theme('spacing.4');
}

.markdown-result > *:not(:first-child) {
  margin-top: theme('spacing.4');
}

.markdown-result > h1 {
  font-size: theme('fontSize.3xl');
}

.markdown-result > h2 {
  font-size: theme('fontSize.2xl');
}

.markdown-result > h3 {
  font-size: theme('fontSize.xl');
}

.markdown-result > h4,
.markdown-result > h5,
.markdown-result > h6 {
  font-size: theme('fontSize.lg');
}
