.sidebar-editor table {
  width: 100%;
  margin-top: theme('spacing.4');
}

.sidebar-editor table th,
.sidebar-editor table td {
  padding: 0;
}

.sidebar-editor table th.action-header-column {
  padding: theme('spacing.2');
}

.sidebar-editor table th input,
.sidebar-editor table td input {
  width: 100%;
  border-radius: theme('borderRadius.none');
  border-color: theme('colors.slate.700');
  border-width: theme('borderWidth.DEFAULT');
}

.sidebar-editor .header-button {
  padding: theme('spacing.1') theme('spacing.2');
}

.popover-root,
.popover-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.popover-backdrop {
  z-index: theme('zIndex.10');
}

.popover-dropdown {
  position: absolute;
  z-index: theme('zIndex.20');
  padding: theme('spacing.2');
  border-radius: theme('borderRadius.sm');
  background: theme('backgroundColor.white');
  box-shadow: theme('boxShadow.md');
  outline: none;
}
