.heading-toolbar-popover {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-right: 0;
}

.heading-toolbar-popover > .headings-list {
  margin: 0;
  list-style: none;
}

.heading-toolbar-popover > .headings-list button {
  min-width: 150px;
  border-radius: 0;
}

.heading-toolbar-popover > .headings-list button {
  min-width: 160px;
  border-radius: 0;
  overflow: hidden;
}