---
import { MarkdownEditor } from '../components/Editor/MarkdownEditor';
import { RightContent } from '../components/Editor/RightContent';
import { Link } from '../components/Link';
import { SegmentHeading } from '../components/Editor/SegmentHeading';
---

<div class="p-4">
  <div class="editor">
    <section class="editor-segment">
      <SegmentHeading title="Raw content">
        Fill input below with Markdown. Currently supported formats are
        <Link href="https://github.github.com/gfm/">GFM</Link> and
        <Link href="https://commonmark.org">CommonMark</Link>.
      </SegmentHeading>

      <MarkdownEditor client:visible />
    </section>
    <section class="editor-segment">
      <RightContent client:visible />
    </section>
  </div>
</div>

<style>
  .editor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    position: relative;
    width: 100%;
  }

  .editor-segment {
    flex: 1 1 auto;
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
  }

  @media screen(md) {
    .editor {
      flex-direction: row;
    }

    .editor-segment {
      flex-basis: 50%;
    }
  }
</style>
