.markdown-inspector {
  margin-top: theme('spacing.4');
}

.markdown-inspector table {
  width: 100%;
  margin-top: theme('spacing.4');
}

.markdown-inspector table th.action-header-column {
  padding: theme('spacing.2') 0;
  text-align: right;
}

.markdown-inspector table th,
.markdown-inspector table td {
  padding: theme('spacing[0.5]');
}

.markdown-inspector table th input {
  font-weight: theme('fontWeight.bold');
}

.markdown-inspector table th input,
.markdown-inspector table td input {
  width: 100%;
  border-radius: theme('borderRadius.none');
  border-color: theme('colors.slate.200');
  border-width: theme('borderWidth.DEFAULT');
}

.markdown-inspector .secondary-button,
.popover-dropdown .secondary-button {
  padding: theme('spacing.1') theme('spacing.2');
  background: none;
  color: theme('colors.blue.500');
  border-color: theme('colors.blue.500');
  border-width: 1px;
}

.popover-dropdown .secondary-button {
  margin-top: theme('spacing.2');
}

.markdown-inspector .secondary-button:hover,
.popover-dropdown .secondary-button:hover {
  background: theme('colors.blue.50');
}

.popover-root,
.popover-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.popover-backdrop {
  z-index: theme('zIndex.10');
}

.popover-dropdown {
  position: absolute;
  z-index: theme('zIndex.20');
  padding: theme('spacing.2');
  border-radius: theme('borderRadius.sm');
  background: theme('backgroundColor.white');
  box-shadow: theme('boxShadow.md');
  outline: none;
}
